### Language Overview
    
           - Variables
           
           - statements & Expressions
           
           - whitespace & comments
                           

### Types and Values

           - Data Types
           
           - user input & output
    
           - type() & id()

#### Variables
Variables are containers for storing data (storing data values)

In [1]:
# create a variable
a=10

In [2]:
# type of a variable
type(a)

int

In [3]:
### Assign multiple values to multiple variables
a=5;b=4;c=7

In [4]:
### Assign same value to multiple variables
a=b=c=5

In [5]:
#python is case sensitive
New=80
new=70

#### Keywords & Constants

Keywords are the reserved words in Python.

We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

All the keywords except True, False and None are in lowercase and they must be written as they are.

The list of all the keywords is given below.

False	await	else	import	pass

None	break	except	in	raise

True	class	finally	is	return

and	continue	for	lambda	try

as	def	from	nonlocal	while

assert	del	global	not	with

async	elif	if	or	yield

A constant is a type of variable whose value cannot be changed.

#### Statements and Expressions

An Expression is a sequence or combination of values, variables, operators and function calls that always produces or returns a result value.
– An Expression always evaluates (calculate) to itself.

 z = x + y
In the above example = and + are operators.

So, x + y is an expression.

Any Instruction that a python interpreter can execute (carry out) is called a Statement.

Each and every line or a sentence in any programming language is called an instruction.
In simple words – A Statement is the smallest executable unit of code that has an effect, like creating a variable or displaying a value.
Each and every line of code that we write in any programming language is called a statement

Difference between Expressions and Statements in Python:

Expression	  

                                                                    Statement
                                                                    
An expression evaluates to a value	                          A statement executes something
The evaluation of a statement does not changes state	      The execution of a statement changes state
Evaluation of an expression always Produces or returns
a result value.	                                              Execution of a statement may or may not produces or displays a                                                                 result value, it only does whatever the statement says.
Every expression can’t be a statement.	                      Every statement can be an expression.

Example: >>> a + 16
>>> 20	                                                      Example:  >>> x = 3
                                                               >>> print(x)

                                                                 Output: 3

#### Whitespace & Comment

Indentation: A code block (body of a function, loop, etc.) starts with indentation.
Generally, four whitespaces are used for indentation and are preferred over tabs.

Comment: A Python comment is a line of text that appears in a program but is not executed by the program.

Single line comments: Python single-line comment starts with a hashtag symbol with no white spaces (#) and lasts till the end of the line. If the comment exceeds one line then put a hashtag on the next line and continue the comment.
Multi-line string as a comment: Python multi-line comment is a piece of text enclosed in a delimiter (“””) on each end of the comment. Again there should be no white space between delimiter (“””).

In [7]:
""" this is the 
sentence of comments"""
a=10
a

10

### Types and Values
#### Data types

- numeric (int,float)

- bool

- complex

- string

In [8]:
### int
a1=25

In [9]:
# check the data type
type(a1)

int

In [10]:
### float
b1=2.5

In [11]:
type(b1)

float

In [12]:
# add integer value and float value and check the data type
c1=a1+b1

In [13]:
type(c1)

float

In [14]:
### bool
d=True
type(d)

bool

In [15]:
### complex
e=5+4j
type(e)

complex

In [16]:
### string
S="hello"
type(S)

str

In [17]:
### Cannot add intobject to string object
S+a

TypeError: can only concatenate str (not "int") to str

In [18]:
#output
b

5

In [20]:
c1

27.5

In [21]:
a
b
c1
d

True

In [22]:
print(a);print(b);print(d)

10
5
True

In [23]:
# different formats of output
print("The value of a is",a)

The value of a is 10

In [24]:
# format() method
print("The value of c1 is {}".format(a))

The value of c1 is 10

In [25]:
print("welcome")
print("to all")

welcome
to all

In [28]:
# with end parameter end =''
print("welcome",end=' ')
print("to all")

welcome to all

In [43]:
## user input 
## input() function
input1=input()

6

In [30]:
# type
type(input1)

str

In [44]:
# Type casting
input2=int(input())
#input3=float(input())

8

In [45]:
#type
type(input2)

int

In [34]:
## multiple inputs
var1=int(input())
var2=int(input())
var3=input()

3
5
hello

In [46]:
# split() method to write multiple imputs in a single line
v1,v2=input().split(',')

3,5

In [40]:
input3=input("enter two inputs").split(' ')

enter two inputs34 45

In [41]:
input4,input5=input().split()

i j

#### type() and id()

The id() function returns a unique id for the specified object.

All objects in Python has its own unique id.

The id is assigned to the object when it is created.
###### syntax: id(object)

id() function returns the identity of the object. type() function returns the type of the object

In [47]:
id(a)

1598489848400

In [ ]:
### Hands-on - Exercise

In [1]:
#Accept numbers from a user
a1=int(input())
a2=int(input())

7
8

In [2]:
#Display float number with 2 decimal places using print()
a3=float(input())
print(round(a3,2))

56.89008
56.89

In [ ]:
#Accept 3 float numbers as an input from the user

In [4]:
#Accept any three string from one input() call 
a4,a5,a6=input("enter three strings:" ).split(',')

enter three strings:5,'hi',8

In [6]:
num=46
#print(dir(num))
print(dir(a4))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [7]:
#Accept two float numbers and find the sum.
a5=float(input())
a6=float(input())
print(a5+a6)

56.7
1.3
58.0

In [8]:
# Get two inputs in a single line by using user input function
a7,a8=input().split(' ')

'j' 'i

In [9]:
#Make a Python program that prints your name.
print(" r")

 r

In [10]:
# Make a program that displays several numbers.
a=6;b=8;c=10
print(a);print(b);print(c)

6
8
10

In [11]:
# Make a program that solves and shows the summation of 64 + 32
a8=int(input())
a9=int(input())
print(a8+a9)

64
32
96

In [12]:
#Try to print the word ‘lucky’ inside 's'
s="lucky"
print(s)

lucky

In [13]:
# Make a program that asks the users preferred programming language.
prog=input("prefered language ")

prefered language Python

In [14]:
# Get string object '123' from user input function and add value 1.
a10=input()
a10+"1"
# a10+str(1)

123

'1231'