### Data Structures

         - Lists
    
         - Tuple
        
         - Dictionary
            
              
### List Comprehension

#### Data Structures in Python
##### Lists

In [ ]:
An ordered sequence of values enclosed within [ ].

- List can be created by [] or list()

- Lists are mutable : Can do changes

-  List can contain multiple data types

- Lists are iterables

In [ ]:
# Create an empty list
L=[]
#L=list()

In [ ]:
#type
type(L)

In [ ]:
# create a list with int data types
newlist1=[1,2,3,4]
newlist1

In [ ]:
# create a list with string data type 
newlist2=['hi','he']
newlist2

In [ ]:
# create a list with mixed data types : 
newlist3=[1,'h',True]
newlist3

In [ ]:
# Lists are mutable
# change the value '5' into '0' in the list ls3
ls3=[5,6.5,'age',True]
ls3[0]=0
ls3

In [ ]:
# Extract 'age' from the list ls3
ls3[2]

In [ ]:
ls3

In [ ]:
# Extract 'e'  from the list ls3
ls3[2][2]

In [ ]:
# Extract 'age',True from the list ls3
ls3[2:]

In [ ]:
ls4= [25,31,[3,4],-5]
# extract [3,4] from the list ls4.
ls4[2]

In [ ]:
first=[2,34,5,[56,81,[43,89],67],10]

In [ ]:
# extract [43,89] from the list 'first'
first[3][2]

In [ ]:
# extract 89
first[3][2][1]

In [ ]:
print(dir(first))

In [ ]:
#extend
newlist1=[1,2,3]
newlist2=[5,6]
newlist1.extend(newlist2)

In [ ]:
newlist1

In [ ]:
# append
newlist3=[6,7,8]
newlist4=[9,10]
newlist3.append(newlist4)

In [ ]:
newlist3

In [ ]:
newlist3+newlist4

In [ ]:
### insert
#syntax: listobject.insert(index,value)
newlist3.insert(0,61)
newlist3

In [ ]:
#pop
# listobject.pop(index) 
# list object.pop()--> removes last element in the list

newlist3.pop(1)

In [ ]:
newlist3

In [ ]:
newlist3.pop()

In [ ]:
newlist3

In [ ]:
## remove 
# syntax: listobject.remove(value)
list_1=[1,2,'hi','wel',8]
list_1.remove(2)

In [ ]:
list_1

In [ ]:
first=[2,34,5,[56,81,[43,89],67],10,59,57]
first

In [ ]:
#remove elements from the list : remove 81 # del(indexing)
del(first[3][1])

In [ ]:
first

In [ ]:
first[3].remove(67)

In [ ]:
# remove 43

In [ ]:
del(first[3][1][0])

In [ ]:
first

In [ ]:
# reverse
# syntax: list object.reverse()
list1 = [1, 2, 3, 4, 1, 2, 6]
list1.reverse()

In [ ]:
list1

In [ ]:
#index: object.index(value)
# returns theindex of the element
list1.index(4)

In [ ]:
### Apply + * on list objects
ls1=[12,23,12,45]
ls2=[34,6,7,8]
print(ls1)
print(ls2)

In [ ]:
ls1+ls2

In [ ]:
ls1*4

In [ ]:
# sort the list object in ascending order
ls6=[12,4,78,2,9,54]

In [ ]:
print(dir(ls6))

In [ ]:
#sorted()
sorted(ls6)

In [ ]:
# descending order # reverse=True
sorted(ls6,reverse=True)

In [ ]:
ls6

In [ ]:
#sort() method

In [ ]:
ls6.sort()

In [ ]:
ls6

In [ ]:
#descending order
ls6.sort(reverse=True)
ls6

In [ ]:
# Copy one list from the other list (or) creating a list from existing list by using '=' (or) 
#copy() method
ls9=[1,2,5,2,1,3,2,10]
#create newlist from ls9.

In [ ]:
ls10=ls9
ls11=ls9.copy()
print(ls9)
print(ls10)
print(ls11)

In [ ]:
# do changes on original object and check whether the copied objects are updated or not
ls9[1]=30
print(ls9)
print(ls10)
print(ls11)

In [ ]:
#split method
#result will be list object
dt="6-6-2022"
#split it by '-'
dt.split('-')

In [ ]:
# loop
# for loop
for i in ls9:
    print(i)

In [ ]:
#List comprehension
# one line expression of for loop

In [ ]:
a=[1,2,3,4]
#list of square of elements of a
#for loop
b=[]
for i in a:
    b.append(i**2)
print(b)

In [ ]:
#list comprehension : syntax: [expression for if]
# list of square of elements
[i**2 for i in a]

In [ ]:
cities=['Delhi','Pune','Chennai','Bangalore','Hyd']
# create a list of elements which has length is greater than 6.
[i for i in cities if len(i)>6]

In [ ]:
L=[4,7,8,9]
# Add value 5 to each element in the list
[i+5 for i in L]

In [ ]:
# Create a list of elements which is greater than 5 in the given list L
[x for x in L if x>5]

In [ ]:
# Addition of two lists L1 and L2
# for loop
L1=[3,4,5,6]
L2=[1,3,5,8]
n=[]
for x in range(0,len(L1)):
    n.append(L1[x]+L2[x])
print(n)

In [ ]:
L1=[3,4,5,6]
L2=[1,3,5,8]
L3=[]
for x,y in zip(L1,L2):
    L3.append(x+y)
L3

In [ ]:
# list comprehension
[L1[x] +L2[x] for x in range(len(L1))]

### Tuple

- A tuple is a sequence of items
- tuple is created by using () or tuple()
- tuple contains mixed data type
- tuples are immutable
- tuples are iterable

In [ ]:
# empty tuple object
t1=tuple()
#t1=()

In [ ]:
#type
type(t1)

In [ ]:
#create a tuple with elements
t1=(1,'we',True)
type(t1)

In [ ]:
t3=(23,4,'e','i')
t3

In [ ]:
# extract '4' from t3
t3[1]

In [ ]:
# immutable
t3[0]=45

In [ ]:
# convert tuple object into list and do changes.

In [ ]:
t4=list(t3)

In [ ]:
# change the value 23 into 40
t4[0]=40

In [ ]:
t4=tuple(t4)

In [ ]:
t4

In [ ]:
#for loop
for i in t3:
    print(i)

### Dictionary
- A collection of unordered set of key:value pairs.

- Create dictionaries by using {} or dict()

- Keys are unique.

- values are accessed by using keys, not by index

- Dictionaries are mutable.

- Dicitonaries are iterables.

In [1]:
# empty dict:
d1=dict()

In [3]:
d1={}

In [2]:
#type
type(d1)

dict

In [4]:
# create dict of integer values
d1={'one':1,'two':3,'three':8}
d1

{'one': 1, 'two': 3, 'three': 8}

In [5]:
# create  dict of strings values
d2={34:'hi','e':'come','h':'all'}
d2

{34: 'hi', 'e': 'come', 'h': 'all'}

In [6]:
# create dict of mixed data types
d2_1={'new1':'hello','new2':5,'new3':[7,8],'new4':('the',87)}
d2_1

{'new1': 'hello', 'new2': 5, 'new3': [7, 8], 'new4': ('the', 87)}

In [7]:
d4={'first':[5,6,7],'second':["a","b"],'third':(7,8,0),'fourth':"hello"}
d4

{'first': [5, 6, 7],
 'second': ['a', 'b'],
 'third': (7, 8, 0),
 'fourth': 'hello'}

In [8]:
# keys() & values() method
d4.keys()

dict_keys(['first', 'second', 'third', 'fourth'])

In [9]:
d4.values()

dict_values([[5, 6, 7], ['a', 'b'], (7, 8, 0), 'hello'])

In [10]:
#items() method
d4.items()

dict_items([('first', [5, 6, 7]), ('second', ['a', 'b']), ('third', (7, 8, 0)), ('fourth', 'hello')])

In [11]:
#extract [5,6,7] from d4.
d4['first']

[5, 6, 7]

In [12]:
#extract 6
d4['first'][1]

6

In [13]:
#extract 'b'
d4['second'][1]

'b'

In [17]:
d5={'one':{'el_one':[3,4,6,{'el_two':'z'}]}}
# extract 'z'
d5['one']['el_one'][3]['el_two']

'z'

In [18]:
d6={'new':[9,4,5,['split','merge',10]],'old':('s',17,0),'mid':{'ram':4,'ravi':8}}
#Extract 'merge'
#extract 8
d6['new'][3][1]

'merge'

In [19]:
d6['mid']['ravi']

8

In [22]:
# for loop
for i in d6:
    print(d6[i])

[9, 4, 5, ['split', 'merge', 10]]
('s', 17, 0)
{'ram': 4, 'ravi': 8}

In [23]:
d6

{'new': [9, 4, 5, ['split', 'merge', 10]],
 'old': ('s', 17, 0),
 'mid': {'ram': 4, 'ravi': 8}}

In [24]:
#mutable
# change the 1st element in the first key in the dictionary d6.
d6['new'][0]=10
d6

{'new': [10, 4, 5, ['split', 'merge', 10]],
 'old': ('s', 17, 0),
 'mid': {'ram': 4, 'ravi': 8}}

In [25]:
# using pop() method to rename the key names in the dictionary
d6['middle']=d6.pop('mid')
d6.keys()

dict_keys(['new', 'old', 'middle'])

In [ ]:
?d6.update()   # press shift+tab will show the details about the given method.

In [29]:
### map and filter function
#square function
square1=lambda x:x**2
#map function: map square function
b=[2,3,4]
# map(fun,iterable)
map(square1,b)
list(map(square1,b))
#tuple(map(square1,b))

[4, 9, 16]

In [30]:
# filter function
# filter the words from a list that dont start with the letter 's'
seq=['soup','salad','food','great']
list(filter(lambda x:x[0]!='s',seq)) ## without list, it will returns the generator object.

['food', 'great']

In [ ]:
--------------------------------------------------End--------------------------------------------------------------